* {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
}

#background {
    background-color: #29292E;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12vw;
    background-color: #F5F4F0;
}

headline {
    margin-left: 65px;
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
}

h1 {
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    margin-left: 65px;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    margin-left: 65px;
    font-size: 28px;
    font-weight: bold;
}

img {
    padding: 24px;
    margin-bottom: 64px;
    margin-left: 65px;
    border-radius: 28px;
}

.text{
    margin-left: 65px;
    text-align: start;
    font-size: 16px;
}

#apresentation{
    width: 1200px;
    height: 729px;
}

.description{
    margin-bottom: 64px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.travel {
    margin-left: 12vw;
    background-color: #F5F4F0;
}

.list{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}