.grid {
    display: grid;
    justify-content: center;
    
}

#intro {
    width: 98.9vw;
    height: 750px;
    background-image: url(../assets/Background_Intro.png);
}

.grid-flow-col {
    grid-auto-flow: column;
}