.grid {
    display: grid;
    justify-content: center;
    
}

#intro {
    width: 98.9vw;
    height: 750px;
    background-image: url(../assets/Background_Intro.png);
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gap-24 {
    gap: 24px;
}

.card {
    overflow: hidden;
    position: relative;
    background-color: var(--color-gray-300);
    width: 330px;
    height: 280px;
    border-radius: 12px;
}

.image-card {
    width: 306px;
    height: 156px;
}