main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    padding-block: 24px;

    & img{
        width: 17.875rem;
        height: 17.875rem;
        object-fit: cover;
      }
}

@media  (width <= 25em) {
    main img {
        width: 100%;
    }
}