nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    line-height: 0;
    padding-block: 1.25rem;
  
    & ul{
      display: flex;
      align-items: center;
      gap: 1.5rem;
  
      padding-block: .5rem;
  
      & li:first-child img{
        transition: scale .3s ease-in-out;
        &:hover{
          scale: 1.2;
        }
      }
  
      & li:last-child img{
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
  
        transition: scale .3s ease-in-out;
        &:hover{
          scale: 1.2;
        }
      }
    }
  }